.trat-item{
    width: 100%;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px white;
    transition: 0.3s;
    animation: fadeIn 2s;
}

.trat-item-img{
    width: 100%;
    border-radius: 15px;
    border: none;
}

.trat-item-img-container{
    margin: 30px;
}

.trat-item{
    color:#8C756A;
    padding-bottom: 10px;
}

.trat-item-info p{
    text-align: center;
    font-size: large;
    font-weight: 600;
    padding-bottom: 10px;
}

.trat-item-desc{
    text-align: center;
}